<html xmlns="http://www.w3.org/1999/xhtml">

    
    <form class="w-75 m-auto p-5" method="post" action="/loaihoa/create" style="font-size: 1.25rem;">
        <div align="center" style="font-size: 2.5rem;">Thêm loại hoa</div>
        <div class="form-group">
          <label for="maloai">Mã loại hoa</label>
          <input name="maloai" type="text" id="maloai" class="form-control" placeholder="Nhập mã loại. Ví dụ: Hoa-Cuoi" required />
        </div>

        <div class="form-group">
          <label for="tenloai">Tên loại hoa</label>
          <input name="tenloai" type="text" id="tenloai" class="form-control" placeholder="Nhập tên loại hoa. Ví dụ: Hoa cưới" required/>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center;">
          <button type="submit" class="btn btn-success w-100">Thêm</button>
        </div>
      </form>
    