<html xmlns="http://www.w3.org/1999/xhtml">
    <main class="p-3">
      <a href="/loaihoa/create">
        <button class="btn btn-success mb-2">Thêm mới</button>
      </a>
      <table class="table table-striped p-5" width="80%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <thead class="thead-light">
          <tr>
            <th>Mã loại</th>
            <th>Tên loại</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        
        {{#each loaihoa}}
          <tr>
            <td> {{this.maloai}} </td>
            <td> {{this.tenloai}} </td>
            <td class="d-flex">
              <a href="/loaihoa/update/{{this._id}}" class="mr-2">
                <button class="btn btn-primary">Sửa</button>             
              </a>
              <form method="POST" action="/loaihoa/delete/{{this._id}}?_method=DELETE">
                <button class="btn btn-danger" type="submit">Xóa</button>             
              </form>
            </td>
          </tr>
        {{/each}}
      </table>
    </main>