<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    
    <form class="w-75 m-auto p-5" method="POST" action="/hoa/update/<%= hoaUpdate._id %> " style="font-size: 1.25rem;">
        <div align="center" style="font-size: 2.5rem;">Cập nhật hoa</div>
        <div class="form-group">
          <label for="tenhoa">Tên hoa</label>
          <input name="tenhoa" type="text" id="tenhoa" class="form-control" 
                placeholder="Nhập mã loại. Ví dụ: Hoa-Cuoi" required 
                value="<%= hoaUpdate.tenhoa %>"/>
        </div>

        <div class="form-group">
          <label for="maloai">Loại hoa</label>
          <select class="form-control" id="maloai" name="maloai">
            <% for(let i=0; i<loaihoas.length; i++) { %>
              <% let selected = hoaUpdate.maloai === loaihoas[i].maloai ? "selected" : "" %> 
              <option value="<%= loaihoas[i].maloai %>" <%= selected %> > <%= loaihoas[i].tenloai  %>  </option> 
            <% } %> 
          </select>
        </div>

        <div class="form-group">
          <label for="giaban">Giá bán</label>
          <input name="giaban" type="number" id="giaban" class="form-control" 
                placeholder="Nhập giá bán" required
                value="<%= hoaUpdate.giaban %>"/>
        </div>

        <div class="form-group">
          <label for="hinh">Hình</label>
          <input name="hinh" type="text" id="hinh" class="form-control" 
                placeholder="Nhập đường dẫn hình" required
                value="<%= hoaUpdate.hinh %>"/>
        </div>

        <div class="form-group">
          <label for="mota">Mô tả</label>
          <input name="mota" type="text" id="mota" class="form-control" 
                placeholder="Nhập mô tả cho hoa" required
                value="<%= hoaUpdate.mota %>"/>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center;">
          <button type="submit" class="btn btn-success w-100">Cập nhật</button>
        </div>
      </form>
    
    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>

</html>